<div class="mb-4 w-96 mx-auto flex border-collapse border-2 border-black">
  <%# レーダーチャート表示用(左側) %>
  <div class="border-2 border-black  w-1/2">
    <div class="flex justify-center">
      <%= post.main_character.name %>
    </div>
    <div>
      <canvas id="displayChart<%= post.id %>"></canvas>
    </div>
  </div>
  <%# タイトルと修行仲間表示用(右側) %>
  <div class="w-1/2">
    <div class="title border-2 border-black flex justify-center">
      <%= link_to post.title, post_path(post) %>
    </div>
    <div>
      <table class="border-collapse border-2 border-black">
        <tbody>
          <% post.post_characters.pluck(:name).each_slice(3) do |characters_group| %>
            <tr>
              <% characters_group.each do |character| %>
                <td class="border border-black"><%= character %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  const ctx<%= post.id %> = document.getElementById('displayChart<%= post.id %>');
  const titles<%= post.id %> = ['hp', 'crt', 'crd', 'hit', 'avd', 'spd', 'def', 'atk'];
  const character_status<%= post.id %> = <%= post.training_character.chart_status %>;
  function updateChart<%= post.id %>() {
    chart<%= post.id %>.update();
  }

  const chart<%= post.id %> = new Chart(ctx<%= post.id %>, {
    type: 'radar',
    data: {
      labels: titles<%= post.id %>,
      datasets: [{
        label: '# of Votes',
        data: character_status<%= post.id %>,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        r: {
          beginAtZero: true,
          max: 7500,
          min: 0,
          ticks: {
            display: false
          }
        }
      },
      plugins: {
        legend: {
          display: false
        }
      }
    }
  });
</script>