<div data-controller="new-post-chart" class="flex justify-center">
  <div>
    <%= form_with model: @training_character, url: create_step6_path, local: true do |f| %>
      <div class="mt-4 mb-4">
        <%= f.label :hp, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :hp, id: 'hp_js', data: {target: "new-post-chart.hp", action: "input->new-post-chart#hp_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :atk, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :atk, id: 'atk_js', data: {target: "new-post-chart.atk", action: "input->new-post-chart#atk_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :def, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :def, id: 'def_js', data: {target: "new-post-chart.def", action: "input->new-post-chart#def_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :spd, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :spd, id: 'spd_js', data: {target: "new-post-chart.spd", action: "input->new-post-chart#spd_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :crt, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :crt, id: 'crt_js', data: {target: "new-post-chart.crt", action: "input->new-post-chart#crt_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :crd, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :crd, id: 'crd_js', data: {target: "new-post-chart.crd", action: "input->new-post-chart#crd_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :hit, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :hit, id: 'hit_js', data: {target: "new-post-chart.hit", action: "input->new-post-chart#hit_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="mb-4">
        <%= f.label :avd, class: 'block text-gray-700 text-sm font-bold mb-2' %>
        <%= f.number_field :avd, id: 'avd_js', data: {target: "new-post-chart.avd", action: "input->new-post-chart#avd_status"}, class: 'shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
      </div>
      <div class="flex justify-between mt-8 mr-32 mb-8 ml-32">
        <%= link_to (t 'defaults.return_step'), step5_path, class: 'rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400' %>
        <%= f.submit (t 'defaults.next_step'), class: 'rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400' %>
      </div>
    <% end %>
  </div>
  <div>
    <canvas data-target="new-post-chart.canvas"></canvas>
  </div>
</div>
